<html>
    <body>
       <table border="1" cellspacing="1">
		<thead>February</thead>
		<tbody>
			{% for activities_by_week in activities_in_month: %}
				<tr>
					{% for activities_by_day in activities_by_week %}
						<td>
							<ul>
								{% for activity in activities_by_day %}
									<li>
										TITLE: {% activity.title %};
										CATEGORY: {% activity.category %};
									</li>
								{% endfor %}
							</ul>
						</td>
					{% endfor %}
				</tr>
			{% endfor %} 
		</tbody>
	</table>
    </body>
</html>
