<html>
<head>
    <title>AthleticBuddy</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <style type="text/css">
        body{
            background: url(http://www.energysoccer.pt/site/assets/files/1219/istock_000020132005medium.jpg);
            background-size: cover;
        }

        p{
            font-size: 100px;
            color: #ffffff;
            text-align: center;
        }

        #first {
        height: auto;
        bottom: 0px;
        top: 0px;
        left: 0;
        position: absolute;
        }

    </style>
</head>
<body>
    <div class="first">
        <p> Athletic Buddy <p>
        <p> <button type="button" class="btn btn-primary btn-lg">Get Started</button> </p>
    </div>

</body>
</html>