<html>
<head>
    <title>AthleticBuddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style type="text/css">
        body{
            background: url({{ url_for('static', filename='bg.jpg') }});
            background-size: cover;
        }

        p{
            font-size: 100px;
            color: #ffffff;
            text-align: center;
        }

        #first {
        height: auto;
        bottom: 0px;
        top: 0px;
        left: 0;
        position: absolute;
        }

    </style>
</head>
<body>
    <div class="first">
        <p> Athletic Buddy <p>
        <p><a href="{{ url_for('views.calendar') }}"><button type="button" class="btn btn-primary btn-lg">Get Started</button></a></p>
    </div>

</body>
</html>
